<!-- toolbar starts here Toolbar: we can use toolbar to create navbar in angular material -->
<!-- <mat-toolbar color="primary" class="navbar">
    <div>Codevolution</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar> -->
<!-- toolbar ends here -->

<!-- sidenav starts here-->
<!-- <mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">sidenav</mat-sidenav> we have mode(s): over(default), push, side
    <mat-sidenav-content>Main
        <button (click)="opened=!opened" mat-raised-button disableRipple>Open Sidenav</button>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav>sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="sidenav.open()" mat-raised-button color="primary">Open</button>&nbsp;
        <button (click)="sidenav.close()" mat-raised-button color="warn">Close</button>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav>Sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="sidenav.toggle()" mat-raised-button color="accent" disableRipple>Open Sidenav</button>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav (opened)="log('Opened')" (closed)="log('Closed')">Sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="sidenav.toggle()" mat-raised-button>Open Sidenav</button>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- sidenav ends here-->