<!-- Typography starts here -->
<!-- <div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
    <h1>This is a heading for h1</h1>
    <h2>This is a heading for h2</h2>
    <h3>This is a heading for h3</h3>
    <h4>This is a heading for h4</h4>
</div> -->
<!-- Typography ends here -->

<!-- button starts here -->
<!-- <div>
    <button mat-button>Click me!</button>
    <button mat-raised-button>Click me!</button>
    <button mat-flat-button>Click me!</button>
    <button mat-stroked-button>Click me!</button>
</div>

<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Minifab</button>
</div>

<div>
    <button color="accent" mat-button>primary</button>
    <button color="primary" mat-button>Accent</button>
    <button color="warn" disableRipple mat-button>Warn</button>
    <button color="accent" mat-raised-button>primary</button>
    <button color="primary" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div> -->
<!-- button ends here -->

<!-- toggle button starts here -->
<!-- <div>
    <mat-button-toggle #toggleBtn disableRipple>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
    <br><br>
    <mat-button-toggle #toggleBtn1 checked>Toggle</mat-button-toggle>
    {{toggleBtn1.checked}}
    <br><br>
    <mat-button-toggle #toggleBtn2 disabled>Toggle</mat-button-toggle>
    {{toggleBtn2.checked}}
    <br><br>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
        <mat-button-toggle value="angular" disableRipple>Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
    <br><br>
    <mat-button-toggle-group #toggleGroup1="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular" disableRipple>Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup1.value}}
</div> -->
<!-- toggle button ends here -->

<!-- icon starts here -->
<!-- <div>
    <mat-icon matBadge="5" matBadgeColor="accent" matBadgeSize="small" color="warn">grade</mat-icon>
    <mat-icon color="accent">lock</mat-icon>
    <mat-icon matBadge="3" matBadgeColor="warn" color="primary">thumb_up</mat-icon>
</div> -->
<!-- icon ends here -->

<!-- badge starts here -->
<!-- <div>
    <span matBadge="11">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgePosition="below before">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgePosition="below after">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgePosition="above before">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgeSize="small">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgeSize="medium">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgeSize="large">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgeColor="primary">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgeColor="accent">Notifications</span>
</div>
<div>
    <span matBadge="11" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>
<div>
    <span [matBadge]="notifications" matBadgeOverlap="false">Notifications</span> here we used property binding
</div>
<div>
    <span [matBadge]="notifications1" [matBadgeHidden]="notifications1 == 0" matBadgeOverlap="false">Notifications</span> here we used property binding
</div> -->
<!-- badge ends here-->

<!-- progress spinner and progress bar starts here -->
<!-- <div>
    <mat-progress-spinner value="40"></mat-progress-spinner>
</div>
<div>
    <mat-spinner></mat-spinner>
</div>
<div>
    <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner><br>
    <button mat-flat-button color="accent" (click)="loadData()">Load Data</button>
</div>
<div>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div>
    <mat-progress-bar mode="determinate" value="55"></mat-progress-bar>
</div>
<div>
    <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
</div>
<div>
    <mat-progress-bar *ngIf="showBar" color="accent" mode="indeterminate"></mat-progress-bar><br>
    <button mat-flat-button color="accent" (click)="loadBar()">Load Bar</button>
</div> -->
<!-- progress spinner and progress bar ends here -->

<!-- <app-mynavbar></app-mynavbar>
<app-my-menu></app-my-menu>
<app-list></app-list> -->
<app-grid></app-grid>